body {
  margin-top: 0;
}

main {
	margin-bottom: 100px;
}

.main-logo {
	width: 100%;
	height: auto;
}

.layout-column,
.main-nav a {
	float: left;
}

.main-nav,
.second-nav {
	background-color: #252E30;
	color: white;
}

.second-nav {
	border: 10px solid gray;
}

.main-nav a,
.second-nav a {
	font-size: 17px;
}

.second-nav a {
	display: block;
}

.main-nav {
	padding: 0;
	margin-bottom: 15px;
}

.main-nav a,
.second-nav a {
	text-decoration: none;
	color: white;
}
.main-nav a {
	padding: 10px;
}

.second-nav a {
	padding: 20px;
  text-align: center;
}

.main-nav a:hover,
.second-nav a:hover {
	background-color: white;
	color: black;
}

.main-header {
	height: 100px;
	background-color: lightgray;
}

.main-header h1 {
	margin: 0;
}

.main-header h2 {
	margin: 0;
	color: gray;
	font-weight: normal;
}

.layout-column-left {
	width: 30%;
	margin-right: 2%;
}

.layout-column-right {
	width: 68%
}

.layout-column-header {
	margin-left: 1%;
	margin-right: 1%;
	width: 15%;
}

.layout-column-header:last-child {
	width: 25%;
}


.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container h2 {
	color: lightgray;
}

.container p {
	margin: 0;
}
footer {
	text-align: center;
	color: lightblue;
}

.content-table {
	border: 1px solid black;
		border-collapse: collapse;
}

.content-table tr {
	border: 1px solid black;
}

.content-table tr:first-child {
	background-color: lightgray;
}

.content-table th {
	padding-left: 5px;
	border-right: 1px solid black;
	text-align: left;
}

.content-table td{
	padding: 10px;
	padding-right: 50px;
	border-right: 1px solid black;
}

.content-table-names {
	padding-left: 5px;
	padding-right: 150px;
}

.content-table-description {
	padding-left: 5px;	
	padding-right: 250px;
}